<%- include('partials/header') %>
    <%- include('partials/nav') %>
    <section id="404" class="404" style="background-color: #000000; color: #fff;">
        <div class="container" data-aos="fade-up">
            <div class="section-title">
                <h2>404</h2>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <img src="/assets/img/404.svg" width="100%" alt="404">
                </div>
                <div class="col-md-6">
                    <h3>Oops! Page not found</h3>
                    <p>We are sorry, but the page you requested was not found</p>
                    <a href="/" class="btn btn-primary">Go Home</a>
                </div>
            </div>
        </div>
    </section>
<%- include('partials/footer') %>