<%- include('partials/header') %>
    <%- include('partials/nav') %>
    <!-- ======= Products Section ======= -->
    <section id="products" class="products">
        <div class="container" data-aos="fade-up">
            <div class="section-title products-home">
                <h2>Privacy Policy</h2>
            </div>

            <div class="row terms-of-service" style="color: #fff;">
                <h1>Softhub Privacy Policy</h1>
                <p><strong>Effective Date:</strong> 21-January-2024</p>
                <p>Softhub is committed to protecting the privacy of our users. This Privacy Policy outlines how we collect, use, disclose, and safeguard your personal information when you use our website.</p>
                <h2>1. Information We Collect</h2>
                <p>We collect the following information when you use our website:</p>
                <ul>
                    <li><strong>Email Address:</strong> We collect your email address when you place an order for communication and order processing purposes.</li>
                </ul>
                <h2>2. Use of Information</h2>
                <p>We use the collected information for the following purposes:</p>
                <ul>
                    <li>Processing and fulfilling orders.</li>
                    <li>Communicating with users about their orders and providing customer support.</li>
                </ul>
                <h2>3. Disclosure of Information</h2>
                <p>We may disclose your information to third parties in the following circumstances:</p>
                <ul>
                    <li>Service Providers: We may share your information with third-party service providers who assist us in operating our website and fulfilling orders.</li>
                </ul>
                <h2>4. Security</h2>
                <p>We take reasonable measures to protect your information from unauthorized access, use, or disclosure. However, no method of transmission over the internet or electronic storage is 100% secure.</p>
                <h2>5. Your Choices</h2>
                <p>You can choose not to provide certain information, but this may limit your ability to use certain features of our website.</p>
                <h2>6. Changes to this Privacy Policy</h2>
                <p>We reserve the right to update this Privacy Policy at any time. Changes will be effective upon posting. We encourage you to review this policy periodically.</p>
                <h2>7. Contact Information</h2>
                <p>If you have any questions about this Privacy Policy, please contact us at <a href="mailto:info@exam.com">info@exam.com</a>.</p>
            </div>
        </div>
    </section><!-- End Products Section -->
<%- include('partials/footer') %>
